body {
  background-color: #36393F;
  color: #fff;
  font-family: 'Whitney', 'Segoe UI', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #8E9297;
}

.chat-container {
  height: 80vh; 
  width: 100vw;
  overflow-y: scroll;
  border: 1px solid #202225;
  padding: 10px;
  background-color: #2F3136;
  border-radius: 8px;
}

.message {
  margin-bottom: 10px;
}

.message-username {
  font-weight: bold;
  color: #7289DA;
}

.message-content {
  margin-left: 5px;
  color: #DCDDDE;
}

.spoiler {
  background-color: #2F3136;
  cursor: pointer;
}

.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #36393F;
  display: flex;
  margin-top: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  background-color: #40444B;
  color: #DCDDDE;
  border: 1px solid #202225;
  margin: 5px 0;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #7289DA;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #5865F2;
}

.username-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.username-input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #40444B;
  color: #DCDDDE;
  border: 1px solid #202225;
}

.username-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #7289DA;
  color: #fff;
  cursor: pointer;
}

.username-submit:hover {
  background-color: #5865F2;
}
